<section class="row nav-wrapper">
	<div class="col-sm-offset-3 col-xs-12 col-sm-6 navigation-links">
		<a class="col-xs-12 col-sm-6 nav-box kisan" routerLink="/kisan/create">
			Create Kisan
		</a>
		<a class="col-xs-12 col-sm-6 nav-box ledger-kisan" routerLink="/kisan/profile">
			Kisan Profile
		</a>
		<a class="col-xs-12 col-sm-6 nav-box vyapari" routerLink="/vyapari/create">
			Create Vyapari
		</a>
		<a class="col-xs-12 col-sm-6 nav-box ledger-kisan" routerLink="/vyapari/profile">
			Vyapari Profile
		</a>
		<a class="col-xs-12 col-sm-6 nav-box ledger-vyapari" routerLink="/ledger-account">
			Ledger account
		</a>
		<a class="col-xs-12 col-sm-6 nav-box ledger-kisan" routerLink="/dashboard">
			Dash board
		</a>
	</div>
</section>