<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-md" role="document">
	    <div class="modal-content">
	    	<div class="modal-header">
	        	<h4 class="col-xs-10 modal-title" id="myModalLabel">WEIGHT AND TAKEN BY HIMSELF</h4>
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"  (click)="gotoUserAccount()"><span aria-hidden="true">&times;</span></button>
	    	</div>
	    	<div class="modal-body">
	        	<section class="create-form">
		        	<form class="form-horizontal" [formGroup]="createTransactionForm" (ngSubmit)="submitForm($event)" *ngIf="!showMsg">
		        		<div class="form-group">
		        			<label for="packetsBought" class="col-xs-12 col-sm-3 control-label">TOTAL PACKET TAKEN</label>
						    <div class="col-xs-12 col-sm-9">
						    	<input type="text" class="form-control" id="packetsBought" formControlName="packetsBought" name="packetsBought" required (keyup)="calculateTotalamount()" ngNumber>
						    </div>
						</div>
						<div class="form-group">
		        			<label for="totalStoragePrice" class="col-xs-12 col-sm-3 control-label">TOTAL STORAGE PRICE</label>
						    <div class="col-xs-12 col-sm-9 padding-top-7">
						    	<!-- <input type="text" class="form-control" id="totalStoragePrice" formControlName="name" required> -->
						    	<span><strong>Rs. {{totalStoragePrice}}</strong></span>
						    </div>
						</div>
						<div class="form-group" [ngClass]="{'disabled': downPriceSettled}">
		        			<label for="totalDownPrice" class="col-xs-12 col-sm-3 control-label">TOTAL DOWN PRICE</label>
						    <div class="col-xs-12 col-sm-9 padding-top-7">
						    	<!-- <input type="text" class="form-control" id="totalDownPrice" formControlName="totalDownPrice" [(ngModel)]="dropPrice" [disabled]="downPriceSettled" name="total_down_price"  (change)="calculateTotalamount()"> -->
						    	<span><strong>Rs. {{totalDropPrice}}</strong></span>
						    </div>
						</div>
						<div class="form-group">
		        			<label for="totalWeight" class="col-xs-12 col-sm-3 control-label">TOTAL WEIGHT</label>
						    <div class="col-xs-12 col-sm-9">
						    	<input type="text" class="form-control" id="totalWeight" formControlName="totalWeight" required name="totalWeight" >
						    </div>
						</div>
						<!-- <div class="form-group">
		        			<label for="totalWeightAmount" class="col-xs-12 col-sm-3 control-label">TOTAL WEIGHT AMOUNT</label>
						    <div class="col-xs-12 col-sm-9 padding-top-7">
						    	<input type="number" class="form-control" id="totalWeightAmount" formControlName="totalWeightAmount" name="totalWeightAmount">
						    </div>
						</div> -->
						<div class="col-sm-offset-3 checkbox padding-left-10 margin-bottom-10">
						  <label for="smallPacket">
						    <input type="checkbox" id="smallPacket" name="smallPacket" value="" formControlName="smallPacket" (change)="showLowerSection = !showLowerSection">
						    <strong>If small packet</strong>
						  </label>
						</div>
						<div *ngIf="showLowerSection">
							<div class="form-group">
			        			<label for="totalSmallPaket" class="col-xs-12 col-sm-3 control-label">TOTAL SMALL PACKET</label>
							    <div class="col-xs-12 col-sm-9">
							    	<input type="text" class="form-control" id="totalSmallPaket" formControlName="totalSmallPaket" required name="totalSmallPaket" (keyup)="calculateTotalamount()" ngNumber>
							    </div>
							</div>
							<div class="form-group">
			        			<label for="totalAmount" class="col-xs-12 col-sm-3 control-label">TOTAL SMALL PACKET STORAGE PRICE</label>
							    <div class="col-xs-12 col-sm-9 padding-top-7">
							    	<span><strong>Rs. {{totalSmallPacketPrice}}</strong></span>
							    </div>
							</div>
						</div>
						<div class="form-group">
		        			<label for="totalAmount" class="col-xs-12 col-sm-3 control-label">TOTAL AMOUNT</label>
						    <div class="col-xs-12 col-sm-9 padding-top-7">
						    	<!-- <input type="number" class="form-control" id="totalAmount" formControlName="totalAmount"> -->
						    	<span><strong>Rs. {{totalAmount}}</strong></span>
						    </div>
						</div>
						<div class="form-group">
		        			<label for="amountPaid" class="col-xs-12 col-sm-3 control-label">AMOUNT PAID</label>
						    <div class="col-xs-12 col-sm-9">
						    	<input type="text" class="form-control" id="amountPaid" formControlName="amountPaid" required name="amountPaid">
						    </div>
						</div>
						<div class="col-xs-12 btn-wrapper">
							<input type="submit" class="btn btn-black" value="SAVE">
						</div>
						<p class="text-center">[Please Make Sure to check ledger account]</p>
		        	</form>
					<div *ngIf="showMsg">
						<p class="align-center">
							{{responseMessage}}
						</p>
					</div>
				</section>
	    	</div>
	    	<div class="modal-footer footer-line"></div>
    	</div>
	</div>
</div>